<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>
    <nav class="navbar bg-light mb-4">
        <div class="container-fluid d-flex justify-content-between align-items-center px-4">
            <a class="navbar-brand" href="/">Movie Checker</a>
            <div>
                <a class="nav-link d-inline px-2" href="/">Home</a>
                <a class="nav-link d-inline px-2" href="/admin">Admin</a>
                <a class="nav-link d-inline px-2" href="/logs">Logs</a>
            </div>
        </div>
    </nav>
    <div id="main-log-div">
        <% if(locals.logs) {%>
            <% logs.forEach(log => { %>
                <div id="log-div">
                    <h3><%= log.type %>: <%= log.date %></h3>
                    <h5>Movie name: <%= log.name %></h5>
                    <h5>Location: <%= log.location %></h5>
                    <h5>Letter: <%= log.letter %></h5>
                    <h5>Category: <%= log.category %></h5>
                    <h5>Main Actors_Actresses: <%= log.main_actors_actresses %></h5>
                </div>
            <% }) %>
        <% } %>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>